<h1>Car Factory</h1>
<h3>Enter your car specifications here</h3>
<form action="/new-car" method="post">
  <label for="manufacturer">Enter Manufacturer:</label>
  <input id="manufacturer" name="manufacturer" type="text">
  <label for="model">Enter Model:</label>
  <input id="model" name="model" type="text">
  <label for="price">Enter Price:</label>
  <input id="price" name="price" type="number">
  <label for="mileage">Enter Mileage:</label>
  <input id="mileage" name="mileage" type="number">
  <button type="submit" class="btn">Submit!</button>
</form>
