<h1>Here is the car you just added</h1>
<h3>Manufacturer: @Model.GetManufacturer()</h3>
<h3>Model: @Model.GetModel()</h3>
<h3>Price: @Model.GetPrice()</h3>
<h3>Mileage: @Model.GetMileage()</h3>

<p><a href="/">Add another vehicle</a></p>
<p><a href="/display-cars">View Cars</a></p>
